body{
    background-image: url("https://wallpapertag.com/wallpaper/full/e/1/0/118962-best-background-gradient-1920x1200-for-tablet.jpg");
    background-size: cover;
}
.log{
    box-sizing: border-box;
    width: 660px;
    height: 380px; 
    contain: layout;
    border: 1px solid violet;
    margin-top: 10%;
    margin-left: 25%;
    background-color:rgb(35,35,35);
    padding-top: 100px;
    text-align: center;
    border-radius: 20px;
}
.main{
    display: flex;
    flex-direction: row;
}
.left{
    width: 325px;
    height:200px;
}
.right{
    width: 325px;
    height:200px;
}
.log img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: calc(50% - 60px);
}
input{
    background-color: transparent;
    text-align: center;
    border: 0;
    border-bottom: 1px solid aqua;
    border-radius: 2px;
    margin-bottom: 25px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blanchedalmond;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
}
.sub{
    border: 1px solid aqua;
    margin-top: -20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    color: aliceblue;
    border-radius: 20px;
}
.messages
{
    text-align: center;
}